<h1>Hi and welcome to always present</h1>

<% if logged_in? %>
<h1> you are logged in </h1>
<%end%>
<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign up", '/users/new', method: :get%>
